* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("./assets/img.jpg") center/cover no-repeat fixed;
  position: relative;
}

.head {
  position: absolute;
  top: 10%;
  left: 50%;
  color: #fff;
  font-size: 2.5em;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.main {
  display: flex;
  
}

.outline {
  position: absolute;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  width: 70%;
  height: 60%;
  overflow-y: auto;
  box-shadow: 0.5em 0.5em rgba(255,255,255,0.3);
  padding: 2em 3em;
  text-align: justify;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #fff;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #fff;
  outline-offset: .6em;
  font-size: 16px;
  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
  cursor: pointer;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

@media screen and (max-width: 600px) {
  .head {
    font-size: 1.5em;
  }

  .buttons {
    width: 83%;
  }

  .button-89 {
    font-size: 10px;
    padding: 1em 1em
  }
}

.buttons {

}